@model GeradorDeProcessos.Models.Empreendimentos

@{
    ViewBag.Title = "Detalhes";
}

<h3>@ViewBag.Empreendimento</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresas.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresas.Nome)
        </dd>
		<dt>
			@Html.Label("Total de unidades")
		</dt>

		<dd>
			@Html.Action("QtdUnidades", "Empreendimentos", new { id = Model.IDEmpreendimento })
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDEmpreendimento },htmlAttributes: new { @class = "btn btn-primary btn-sm" }) 

    @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-default btn-sm" })
</p>
