@model GeradorDeProcessos.Models.Empreendimentos

@{
    ViewBag.Title = "Details";
}

<h2>Administração</h2>

<div>
    <h4>Detalhes - @ViewBag.Empreendimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.Label("Empresa")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresas.Nome)
        </dd>
		<dt>
			@Html.Label("Total de unidades")
		</dt>

		<dd>
			@ViewBag.TotalUnidades
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDEmpreendimento }) |
    @Html.ActionLink("Voltar", "Gerenciar")
</p>
