@model IEnumerable<GeradorDeProcessos.Models.Empreendimentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo empreendimento", "Create", null, new { @class = "btn btn-primary btn-xs" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @*@Html.Label("Data de Entrega")*@
			@Html.DisplayNameFor(model => model.DataEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.Label("Empresa")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empresas.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDEmpreendimento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDEmpreendimento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDEmpreendimento })
        </td>
    </tr>
}

</table>
