@model GeradorDeProcessos.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h3>Informações do cliente</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.TipoPessoa)
		</dt>

		<dd>
			@if (Model.TipoPessoa.ToString() == "0")
			{
				<span>Física</span>
			}
			else
			{
				<span>Jurídica</span>
			}
		</dd>
		<dt>
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Renda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Renda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegimeCasamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegimeCasamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conjuge_Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conjuge_Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conjuge_Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conjuge_Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDCliente }, htmlAttributes: new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
@section scripts
{
	<script>
		jQuery(function ($) {
			$("#DataNascimento").mask("99/99/9999")
			$("#CpfCnpj").mask("999.999.999-99")
			if ($("#TipoPessoa").val() === "0")
			{
				$("#Registro").text("CPF")
				$("#CpfCnpj").mask("999.999.999-99")
				$("#Sexo").show()
				$("#Profissao").show()
				$("#DataNascimento").show()
				$("#EstadoCivil").show()
				$("#RegimeCasamento").show()
				$("#Conjuge_Cpf").show()
				$("#Conjuge_Nome").show()
			} else {
				$("#Registro").text("CNPJ")
				$("#Sexo").hide()
				$("#Profissao").hide()
				$("#DataNascimento").hide()
				$("#EstadoCivil").hide()
				$("#RegimeCasamento").hide()
				$("#Conjuge_Cpf").hide()
				$("#Conjuge_Nome").hide()
			}
		});
		$('#TipoPessoa').change(function () {
			if ($("#TipoPessoa").val() === "0") {
				$("#Registro").text("CPF")
				$("#CpfCnpj").mask("999.999.999-99")
				$("#Sexo").show()
				$("#Profissao").show()
				$("#DataNascimento").show()
				$("#EstadoCivil").show()
				$("#RegimeCasamento").show()
				$("#Conjuge_Cpf").show()
				$("#Conjuge_Nome").show()
			} else {
				$("#CpfCnpj").mask("99.999.999/9999-99")
				$("#Registro").text("CNPJ")
				$("#Sexo").hide()
				$("#Profissao").hide()
				$("#DataNascimento").hide()
				$("#EstadoCivil").hide()
				$("#RegimeCasamento").hide()
				$("#Conjuge_Cpf").hide()
				$("#Conjuge_Nome").hide()
			}
		});
	</script>
}