@model IEnumerable<GeradorDeProcessos.Models.Clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
		<th>
			@Html.DisplayNameFor(model => model.TipoPessoa)
		</th>
        <th>
            @Html.DisplayNameFor(model => model.CpfCnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Renda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegimeCasamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conjuge_Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conjuge_Nome)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
			@*@Html.DisplayFor(modelItem => item.TipoPessoa)*@
			@if(item.TipoPessoa.ToString() == "0")
			{
				<span>Física</span>
			} else
			{
				<span>Jurídica</span>
			}
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.CpfCnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Renda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegimeCasamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conjuge_Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conjuge_Nome)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCliente })
        </td>
    </tr>
}

</table>

@section scripts
{
	<script>
		jQuery(function ($) {
			$("#DataNascimento").mask("99/99/9999")
			$("#CpfCnpj").mask("999.999.999-99")
		});
		$('#TipoPessoa').change(function () {
			if ($("#TipoPessoa").val() === "0") {
				$("#CpfCnpj").mask("999.999.999-99")
			} else {
				$("#CpfCnpj").mask("99.999.999/9999-99")
			}
		});
	</script>
}
