@model GeradorDeProcessos.Models.Analises

@{
    ViewBag.Title = "Details";
}

<h3>Detalhes da análise</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorFinanciamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorFinanciamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaldoDevedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaldoDevedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAnalise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAnalise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.CpfCnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.CpfCnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidades.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidades.Numero)
        </dd>

		<dt>
			@Html.Label("Resultado")
		</dt>

		<dd>
			@*@Html.DisplayFor(model => model.Unidades.Numero)*@
			<span>Resultado da análise aqui!</span>
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDAnalise }, htmlAttributes: new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar", "Index",null, htmlAttributes: new { @class = "btn btn-default" })
</p>
