@model IEnumerable<GeradorDeProcessos.Models.Analises>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Unidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorFinanciamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnaliseObservacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.CpfCnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unidades1.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Unidades)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorFinanciamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnaliseObservacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.CpfCnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidades1.Numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDAnalise }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDAnalise }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDAnalise })
        </td>
    </tr>
}

</table>
