@model GeradorDeProcessos.Models.Unidades

@{
    ViewBag.Title = "Delete";
}

<h3>Deletar unidade</h3>

<div>
    <h4>Tem certeza que deseja deletar esta unidade? </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

		<dt>
			@Html.Label("Empreendimento")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Empreendimentos.Nome)
		</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Voltar", "Consulta", new { id = Model.IDEmpreendimento }, new { @class = "btn btn-default" })
        </div>
    }
</div>
