@model GeradorDeProcessos.Models.Unidades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Empreendimentos.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empreendimentos.Nome)
        </dd>
		<dt>
			@Html.LabelFor(model => model.UnidadeStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UnidadeStatus)
		</dd>
		<dt>
			@Html.LabelFor(model => model.Tipo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Tipo)
		</dd>
		<dt>
			@Html.LabelFor(model => model.UnidadeObservacao)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UnidadeObservacao)
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDUnidade }, new { @class = "btn btn-primary" }) 
    @Html.ActionLink("Voltar", "Consulta", new { id = Model.IDEmpreendimento }, new { @class = "btn btn-default" })
</p>
