@model GeradorDeProcessos.Models.Unidades

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unidades</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Número:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.Label("Empreendimento:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empreendimentos.Nome)
        </dd>
		<dt>
			@Html.Label("Status:")
		</dt>

		<dd>
			<span>@ViewBag.Status</span>
		</dd>
		<dt>
			@Html.Label("Observação:")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UnidadeObservacao)
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDUnidade }) |
    @Html.ActionLink("Back to List", "Index")
</p>
