@model IEnumerable<GeradorDeProcessos.Models.Unidades>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.NomeEmpreendimento</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.ActionLink("Solicitar análise", "Create", "Vendas", new { id=item.IDUnidade }, new { @class = "btn btn-primary btn-xs" }) 
            @Html.ActionLink("Detalhes", "Details", new { id=item.IDUnidade }, new { @class = "btn btn-primary btn-xs" }) 
        </td>
    </tr>
}

</table>
